{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
        {% for object in objects_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ object.image|mymedia }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">

                    <h1 class="card-title pricing-card-title">$ {{ object.purchase_price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Description: {{ object.description|slice:":100" }}</li>

                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy</button>
                    <a href="{% url 'catalog:contact_page' %}" class="btn btn-lg btn-block btn-outline-primary">Contacts us</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock %}
