{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card">
        <div class="card-header">Name of product: <h2 class="card-title">
             {{ object.name }}
        </h2></div>

        <div class="card-body">
<!--          Description:  {{ object.description }}-->
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Description: {{ object.description|slice:":100" }}</li>
                {% for version_item in object.version_set.all %}
                {% if version_item.is_current %}
                <li> Version:  {{ version_item.version_name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'catalog:update_product' object.pk %}" type="button"
               class="btn btn-success">Edit</a>
            <a href="{% url 'catalog:home_page' %}" type="button" class="btn btn-success">Back</a></div>
    </div>
</div>
{% endblock %}