{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card">
        <div class="card-header"><h2 class="card-title">
            Delete product
        </h2></div>

        <div class="card-body">
            Name of product: <h3>{{ object.name }}</h3>
            <hr>
            Description: <h4>{{ object.description }}</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                 <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
        <div class="card-footer">

            <a href="{% url 'catalog:home_page' %}" type="button" class="btn btn-success">Back</a>
        </div>
    </div>
</div>
{% endblock %}