{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card">
        <div class="card-header"><h2 class="card-title">
            Delete product
        </h2></div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'catalog:home_page' %}" type="button" class="btn btn-success">Back</a>

            </form>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}